body {
  margin: 0;
  padding: 0;
}

h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500 !important;
}

p {
  font-family: 'Open Sans', sans-serif;
}

button, a {
  font-family: 'Wix Madefor Text', sans-serif;
  outline: none !important;
}

#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#foods-preloader {
  position: absolute;
  padding-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100vh;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

#result-preloader {
  position: absolute;
  padding-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100vh;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.nav-section {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(40%, #f5f5f5));
  background: linear-gradient(to right, white 60%, #f5f5f5 40%);
}

.navbar {
  width: 90%;
  margin: auto;
  background: transparent !important;
}

.navbar .navbar-toggler {
  border: 0 !important;
  outline: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar #cancel-bar {
  position: absolute;
  margin-top: -1000px;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

.navbar-brand {
  color: black;
  font-weight: 600;
  margin-left: 25px;
}

.navbar-brand span {
  color: #38a05b;
  font-weight: 700;
}

.navbar ul {
  margin-left: 30px;
}

.navbar li a:hover {
  color: grey !important;
}

.navbar-nav {
  gap: 20px;
}

.navbar-nav li {
  font-weight: 500;
}

.navbar-nav li a {
  color: black !important;
}

.navbar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 0 !important;
}

.navbar form input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 0 !important;
  outline: 0 !important;
}

.navbar form button {
  border-radius: 10px;
  border: 1px solid #38a05b;
  outline: 0 !important;
}

.navbar form button:hover {
  outline: none !important;
  color: #38a05b;
  background-color: #bcebbc;
  border: 1px solid #bcebbc;
}

.banner {
  height: auto;
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(40%, #f5f5f5));
  background: linear-gradient(to right, white 60%, #f5f5f5 40%);
  gap: 30px;
  padding-bottom: 40px;
}

.banner-slide {
  display: none;
}

.banner-image {
  margin-top: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 50%;
  min-height: 600px;
  background-image: url(Images/Background/banner-image.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-image .cards {
  width: 80%;
  margin-top: 20px !important;
  height: 80%;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-image .cards-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-image .cards-top-1, .banner-image .cards-top-2 {
  max-width: 150px;
  height: auto;
  padding: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.banner-image .cards-bottom {
  margin-top: 50%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.banner-image .cards-bottom-1 {
  padding: 10px;
  width: 150px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.banner-intro {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-intro-phrases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-intro-phrases h2 {
  font-size: 65px;
}

.banner-intro-phrases p {
  font-size: 20px;
}

.banner-intro-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.banner-intro-buttons button {
  border-radius: 10px;
}

.banner-intro-buttons #start-btn {
  color: white;
  border: 0;
  background-color: #38a05b;
  padding: 10px 25px;
}

.banner-intro-buttons #start-btn:hover {
  background-color: #bcebbc;
  color: #38a05b;
}

.banner-intro-buttons #explore-btn {
  padding: 10px 20px;
  color: #38a05b;
  border: 1px solid #38a05b;
  background: transparent;
}

.banner-intro-buttons #explore-btn:hover {
  background-color: #bcebbc;
  color: #38a05b;
  border: 1px solid #bcebbc;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 80%;
  margin: auto !important;
  padding-bottom: 70px;
  padding-top: 70px;
}

.results-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results-header h4 {
  font-size: 16px;
}

.results-header button {
  border: 0;
  padding: 0;
  background: transparent;
}

.results .result {
  padding-top: 30px;
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.results .result-meal {
  padding: 10px;
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results .result-meal-image {
  width: 80%;
}

.results .result-meal-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.results .result-meal-button button {
  padding: 5px 10px;
  color: #38a05b;
  border: 1px solid #38a05b;
  background: transparent;
  border-radius: 10px;
}

.results .result-meal-button button:hover {
  background-color: #bcebbc;
  color: #38a05b;
  border: 1px solid #bcebbc;
}

.recipe-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipe {
  padding: 10px;
  background-color: #f5f5f5;
  width: 80%;
  margin: auto;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll !important;
}

.recipe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.recipe-button button {
  border: 0;
  background: transparent;
}

.recipe-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foods {
  padding-top: 70px;
  height: auto;
  background-color: #f5f5f5;
}

.foods-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
}

.foods-header h2 {
  color: black;
  font-size: 40px;
  padding-bottom: 15px;
}

.foods-body {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px;
}

.foods-body-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  padding-bottom: 40px;
}

.foods-body-items .big {
  width: 150px;
  height: 150px;
}

.foods-body-items-item {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
}

.foods-body-items-item img {
  -o-object-position: center !important;
     object-position: center !important;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 50%;
  border: 10px white solid;
}

.variety {
  height: auto;
  margin-top: 100px;
}

.variety .header {
  display: none;
}

.variety .chef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 100px;
}

.variety .chef .image {
  height: 450px;
  width: 450px;
  display: block;
  overflow: hidden;
}

.variety .chef .image img {
  background-color: #38a05b;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.variety .chef .info {
  width: 40%;
}

.variety .chef .info h6 {
  margin-bottom: 10px;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  width: 35%;
  color: #38a05b;
  background-color: #bcebbc;
}

.variety .chef .info h2 {
  padding-top: 35px !important;
  font-size: 50px;
}

.variety .chef .info p {
  font-size: 20px;
}

.variety .chef .info button {
  margin-top: 10px;
  padding: 15px 20px;
  color: white;
  background-color: #38a05b;
  border: 0;
  border-radius: 10px;
}

.variety .chef .info button:hover {
  background-color: #bcebbc;
  color: #38a05b;
}

.menu {
  height: auto;
  margin-top: 100px;
}

.menu .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: -20px;
}

.menu .header h6 {
  padding: 5px;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  width: 15%;
  color: #38a05b;
  background-color: #bcebbc;
}

.menu .mobile-image {
  display: none;
}

.menu .carousel {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto !important;
}

.menu .carousel-indicators li {
  background-color: green !important;
  padding: 0 !important;
}

.menu .carousel-inner .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding-bottom: 70px !important;
}

.menu .carousel-inner .carousel-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .carousel-inner .carousel-item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .carousel-inner .carousel-item .info h2 {
  margin-top: 10px;
  font-size: 50px;
}

.menu .carousel-inner .carousel-item .info p {
  margin-top: 10px;
  font-size: 20px;
}

.menu .carousel-inner .carousel-item .info .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.menu .carousel-inner .carousel-item .info .rate p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .carousel-inner .carousel-item .info .rate p img {
  display: block;
  height: 20px;
  width: 20px;
  padding-right: 2px;
}

.menu .carousel-inner .carousel-item .info .ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.menu .carousel-inner .carousel-item .info .ingredients img {
  width: 40px;
  height: 40px;
  display: block;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.menu .carousel-inner .carousel-item .info .ingredients p {
  padding: 8px;
  margin-bottom: 15px !important;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-size: 15px;
}

.menu .carousel-inner .carousel-item .image {
  width: 500px;
  height: 500px;
  background-color: #f5f5f5;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .carousel-inner .carousel-item .image img {
  width: 100%;
  height: 100%;
}

.subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 40px;
  padding-bottom: 40px;
}

.subscribe .container {
  border-radius: 30px;
  height: 400px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(Images/Background/search-background.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(Images/Background/search-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .container h2 {
  width: 40%;
  text-align: center;
  color: white;
  padding-bottom: 15px;
}

.subscribe .container .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background-color: white;
  width: 400px;
  border-radius: 10px;
}

.subscribe .container .email form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe .container .email input {
  padding-left: 20px;
  width: 70%;
  border: 0;
  outline: none;
}

.subscribe .container .email button {
  border-radius: 10px;
  background-color: #38a05b;
  border: 0;
  padding: 10px 15px;
  color: white;
  outline: 0 !important;
}

.subscribe .container .email button:hover {
  background-color: #bcebbc;
  color: #38a05b;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto !important;
  width: 80%;
}

.bottom .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: start !important;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
}

.bottom span {
  color: #38a05b;
}

.footer {
  height: 50px;
  background-color: #38a05b;
  margin-top: 100px;
}

.footer-nav {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer-nav .copyright {
  height: 100%;
}

.footer-nav p {
  color: white;
  padding-top: 15px;
}

.footer-nav .social-media img {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  body {
    padding: 0;
    margin: 0;
  }
  .nav-section {
    width: 100%;
    background: #f5f5f5;
  }
  .navbar {
    width: 90% !important;
    margin: auto !important;
  }
  .navbar-brand {
    margin-left: 0;
  }
  .navbar-collapse {
    width: 100%;
  }
  .navbar-nav {
    padding-top: 20px !important;
    margin-left: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 0;
  }
  .navbar-nav li
a {
    color: grey !important;
  }
  .navbar-nav li
a:hover {
    color: black !important;
    scale: 1.5 !important;
  }
  .navbar form {
    margin-left: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .navbar form input {
    border: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    width: 60%;
  }
  .navbar form button {
    border-radius: 10px;
    border: 1px solid #38a05b;
  }
  .navbar form button:hover {
    color: #38a05b;
    background-color: #bcebbc;
    border: 1px solid #bcebbc;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    gap: 30px;
    padding-bottom: 10px !important;
  }
  .banner-image {
    display: none;
  }
  .banner-intro {
    width: 80% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .banner-intro-phrases {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-intro-phrases .banner-slide {
    display: block;
  }
  .banner-intro-phrases .banner-slide img {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    height: 100%;
    padding-bottom: 20px;
  }
  .banner-intro-phrases .banner-slide .card {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f5f5f5;
    width: 40% !important;
    overflow: hidden;
    margin-top: -100px;
    border: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
    padding-bottom: 0 !important;
  }
  .banner-intro-phrases .banner-slide .card h6 {
    font-size: 12px;
  }
  .banner-intro-phrases .banner-slide .card p {
    font-size: 9px;
  }
  .banner-intro-phrases .banner-slide .card-2, .banner-intro-phrases .banner-slide .card-3 {
    margin-left: 60% !important;
  }
  .banner-intro-phrases h2 {
    padding-top: 25px;
    font-size: 40px;
  }
  .banner-intro-phrases p {
    margin-top: 20px;
    font-size: 20px;
  }
  .banner-intro-buttons {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .banner-intro-buttons button {
    border-radius: 10px;
    font-size: 16px;
  }
  .banner-intro-buttons #start-btn {
    color: white;
    border: 0;
    background-color: #38a05b;
    padding: 10px 25px;
  }
  .banner-intro-buttons #start-btn:hover {
    background-color: #bcebbc;
    color: #38a05b;
  }
  .banner-intro-buttons #explore-btn {
    padding: 10px 20px;
    color: #38a05b;
    border: 1px solid #38a05b;
    background: transparent;
  }
  .banner-intro-buttons #explore-btn:hover {
    background-color: #bcebbc;
    color: #38a05b;
    border: 1px solid #bcebbc;
  }
  .foods {
    padding-top: 30px;
  }
  .foods-header h2 {
    font-size: 30px;
  }
  .foods-header p {
    font-size: 20px;
    width: 80%;
    margin: auto;
  }
  .foods-body {
    padding-top: 30px;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .foods-body-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding-bottom: 10px;
  }
  .foods-body-items .big {
    width: 150px;
    height: 150px;
  }
  .foods-body-items-item {
    width: 100px;
    height: 100px;
    background: transparent;
  }
  .variety {
    width: 80%;
    margin: auto;
    height: auto;
    margin-top: 40px;
  }
  .variety .header {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 5px;
    width: 60%;
    color: #38a05b;
    background-color: #bcebbc;
    font-size: 20px;
  }
  .variety .chef {
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    gap: 50px;
  }
  .variety .chef .image {
    height: 250px;
    width: 250px;
    display: block;
    overflow: hidden;
  }
  .variety .chef .info {
    width: 100%;
    margin: auto;
  }
  .variety .chef .info h6 {
    display: none;
  }
  .variety .chef .info h2 {
    padding-top: 0;
    font-size: 30px;
  }
  .variety .chef .info p {
    font-size: 20px;
  }
  .variety .chef .info button {
    margin-top: 10px;
    padding: 15px 20px;
    color: white;
    background-color: #38a05b;
    border: 0;
    border-radius: 10px;
  }
  .variety .chef .info button:hover {
    background-color: #bcebbc;
    color: #38a05b;
  }
  .menu {
    height: auto;
    margin-top: 100px;
  }
  .menu .mobile-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu .mobile-image img {
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .menu .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    padding-left: 0;
  }
  .menu .header h6 {
    width: 40%;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    color: #38a05b;
    background-color: #bcebbc;
  }
  .menu .carousel {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: auto !important;
  }
  .menu .carousel-indicators li {
    background-color: green !important;
    padding: 0 !important;
  }
  .menu .carousel-inner .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
    padding-bottom: 70px !important;
  }
  .menu .carousel-inner .carousel-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu .carousel-inner .carousel-item .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu .carousel-inner .carousel-item .info h6 {
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    width: 50%;
    color: #38a05b;
    background-color: #bcebbc;
  }
  .menu .carousel-inner .carousel-item .info h2 {
    margin-top: 10px;
    font-size: 30px;
  }
  .menu .carousel-inner .carousel-item .info p {
    margin-top: 10px;
    font-size: 20px;
  }
  .menu .carousel-inner .carousel-item .info .rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu .carousel-inner .carousel-item .info .ingredients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  .menu .carousel-inner .carousel-item .info .ingredients img {
    width: 40px;
    height: 40px;
    display: block;
    padding: 8px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  .menu .carousel-inner .carousel-item .info .ingredients p {
    padding: 8px;
    margin-bottom: 15px !important;
    background-color: #f5f5f5;
    border-radius: 10px;
    font-size: 15px;
  }
  .menu .carousel-inner .carousel-item .image {
    display: none;
  }
  .subscribe .container {
    height: 300px;
  }
  .subscribe .container h2 {
    width: 100%;
    text-align: center;
    color: #f5f5f5;
    padding-bottom: 15px;
    font-size: 30px;
  }
  .subscribe .container .email {
    width: 95%;
  }
  .subscribe .container .email input {
    padding-left: 5px;
  }
  .subscribe .container .email button {
    padding: 10px 10px;
    font-size: 12px;
  }
  .bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .bottom .links {
    margin-left: 10px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
  }
  .bottom .links p {
    width: 100%;
  }
  .bottom span {
    color: #38a05b;
  }
  .footer {
    width: 100%;
    margin-top: 20px;
  }
  .footer-nav {
    width: 90%;
  }
  .footer-nav p {
    color: white;
    padding-top: 15px;
    font-size: 14px;
  }
  .footer-nav .social-media img {
    margin-left: 5px;
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .banner {
    height: auto !important;
    margin-top: -100px;
    padding-left: 40px;
    padding-bottom: 0 !important;
  }
  .banner-image {
    margin-top: 70px;
    width: 50%;
    background-image: url(Images/Background/banner-image.png);
    background-position: left;
    background-size: cover;
  }
  .banner-image .cards {
    display: none;
  }
  .banner-intro {
    width: 50%;
  }
  .banner-intro-phrases h2 {
    font-size: 40px;
  }
  .banner-intro-phrases p {
    margin-top: 20px;
    font-size: 20px;
  }
  .banner-intro-buttons {
    margin-top: 50px;
    gap: 20px;
  }
  .banner-intro-buttons button {
    border-radius: 10px;
  }
  .foods-header h2 {
    font-size: 30px;
    padding-bottom: 0;
  }
  .foods-header p {
    font-size: 16px;
  }
  .foods-body {
    padding-top: 30px;
    width: 80%;
    margin: auto;
  }
  .foods-body-items {
    gap: 40px;
    padding-bottom: 10px;
  }
  .foods-body-items .big {
    width: 150px;
    height: 150px;
  }
  .foods-body-items-item {
    width: 100px;
    height: 100px;
    background: transparent;
  }
  .foods-body-items-item img {
    border: 0;
  }
  .variety {
    padding-top: 50px;
    width: 80%;
    margin: auto;
  }
  .variety .chef {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .variety .chef .image {
    height: 300px;
    width: 300px;
  }
  .variety .chef .info {
    width: 50%;
  }
  .variety .chef .info h6 {
    width: 60%;
  }
  .variety .chef .info h2 {
    padding-top: 5px !important;
    font-size: 30px;
  }
  .variety .chef .info p {
    font-size: 16px;
  }
  .variety .chef .info button {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #38a05b;
    border: 0;
    border-radius: 10px;
  }
  .variety .chef .info button:hover {
    background-color: #bcebbc;
    color: #38a05b;
  }
  .menu {
    height: auto;
    margin-top: 100px;
  }
  .menu .header h6 {
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    width: 30%;
    color: #38a05b;
    background-color: #bcebbc;
  }
  .menu .carousel {
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: auto !important;
  }
  .menu .carousel-inner .item {
    gap: 20px;
  }
  .menu .carousel-inner .carousel-item .info h2 {
    margin-top: 10px;
    font-size: 30px;
  }
  .menu .carousel-inner .carousel-item .info p {
    margin-top: 10px;
    font-size: 20px;
  }
  .menu .carousel-inner .carousel-item .image {
    width: 400px;
    height: 400px;
    background-color: #f5f5f5;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe .container {
    border-radius: 30px;
    height: 300px;
  }
  .subscribe .container h2 {
    width: 70%;
  }
  .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto !important;
    width: 80%;
  }
  .bottom .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
  }
  .bottom span {
    color: #38a05b;
  }
}

@media screen and (min-width: 701px) and (max-width: 980px) {
  .bottom {
    width: 80%;
    margin: auto !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding-top: 50px;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    gap: 50px;
  }
  .bottom .links {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    -webkit-box-pack: left !important;
        -ms-flex-pack: left !important;
            justify-content: left !important;
  }
  .bottom span {
    color: #38a05b;
  }
}
/*# sourceMappingURL=style.css.map */